.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6; /* світлий пастельний фон */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: auto;
  max-width: 600px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 2px solid #a7c5eb; /* пастельний блакитний для бордюрів */
  border-radius: 4px;
  box-sizing: border-box; /* Щоб padding не змінював ширину елементів */
  font-size: 18px;
}

button {
  width: 100%;
  background-color: #a7c5eb; /* пастельний блакитний для кнопки */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease; /* Плавний перехід кольору */
}

button:hover {
  background-color: #7796cb; /* Темніший відтінок при наведенні */
}

h1 {
  font-size: 32px; /* Розмір шрифту заголовка */
  font-weight: 300; /* Тонкий шрифт */
  letter-spacing: 2px; /* Відстань між буквами */
  margin-bottom: 2rem; /* Відстань між заголовком і формою */
  color: #333; /* Темний шрифт для кращої видимості */
  font-family: 'Helvetica Neue', sans-serif; /* Сучасний шрифт */
}
